@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

/* Styles for DrawerToggle */
.custom-toggle-button {
    color: #162868;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}

.custom-toggle-button:hover {
    background-color: #e6f0fe;
}

/* Styles for header */
.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-settings-button {
    margin-left: auto;
    margin-right: 1.5rem;
    background: none;
    color: #162868;
    border-radius: 5px;
}

.custom-settings-button:hover {
    background-color: #e6f0fe;

}

/* Styles for main content */
.main-content {
    padding: 20px;
    background-color: #f8f9fa;
    height: 100%;
}

.module-content{
    height: 100vh;
}

/* Styles for the drawer logo */
.drawer-logo {
    width: 10rem;
    margin: 10px 0;
}

/* Styles for the drawer content */
.drawer-content {
    background-color: #162868;
    padding: 15px;
    height: 100%;
}

/* Styles for the Drawer links */
.drawer-link {
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 85%;
}

/* Styles for the Hover effect for drawer links */
.drawer-link:hover {
    text-decoration: none;
    background-color: white;
    color: #162868;
}

/* Styles for the Active link styling */
.drawer-link.active-link {
    background-color: white;
    color: #162868;
}



/* DashboardView Styles */

/* Metric boxes (Total Properties, Total Clients, etc.) */
.metric-box {
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

/* Financial Overview and Recent Customers */
.financial-overview {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recent-customers {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Financial box inside Financial Overview */
.financial-box {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 6px;
    margin-bottom: 1rem;
}


/* DashboardView Styles */

/* Metric boxes (Total Properties, Total Clients, etc.) */
.metric-box {
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

/* Financial Overview and Recent Customers */
.financial-overview {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recent-customers {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Financial box inside Financial Overview */
.financial-box {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 6px;
    margin-bottom: 1rem;
}


/* Custom Toolbar */
.custom-toolbar{
    margin-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap : 0px !important;
}

/* Custom SearchBox */
.custom-search-field{
    margin: 0rem 1rem 0.5rem 0rem;
    padding : 0px;
}

/* Custom SearchBox */
.custom-filter{
    margin: 0rem 1rem 0.5rem 0rem;
    height: 3.2rem;
    padding : 0px;
}

/* Custom styles for buttons */
.custom-button{
    color: white;
    margin: 0rem 1rem 0.5rem 0rem;
}


.custom-add-button{
    background-color: #34A853;
}

.custom-discard-button {
    color: #f44336;
}

.custom-save-button {
    background-color: #162868;
}

.custom-delete-button {
    background-color: red;
    margin-left: 5rem;
}


.custom-update-button{
    color: #162868;
}

.custom-reset-button {
    background-color: #F4A74B;

}
.custom-logout-button {
    margin-top: auto;
    background-color: #8B0000;
    color: white;

}

.custom-logout-button:hover {
    color: white;
    background-color: red;

}



.custom-save-button-user {
    color: white;
    background-color: #162868;
}
.custom-discard-button-user {
    color: #f44336;
    background-color: #grey;
    margin-right: 8px;
}
.custom-delete-button-user {
    background-color: red;
}

.properties-content{
    gap: 0;
}

/* Grid Styles */
.custom-grid {
    height: 80vh;
    font-size: 14px;
}
.custom-grid::part(header-cell) {
    font-weight: bold;
    color: black;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid black;
}

.custom-grid::part(selected-row-cell) {
    background: #737da5;
    color: white;
    font-size: 14px;
}

/* Custom styles for form header */
.custom-form-header {
    font-size: 24px;
    color: #162868; /* Customize the color */
    margin-bottom: 10px;
}

.image{
    border-radius:10%;
    background-color: #162868;
}


/* Optional styles for the form layout and buttons */
.custom-form-content {
    padding: 20px;
}

.custom-property-form {
    width: 90%;
}

.custom-form{
    width : 50%;
}

part(cell)::slotted(vaadin-grid-cell-content){
    font-size:14px;
}

:host{
    font-size:14px;
}

.centered-content {
  margin: 0 auto;
  max-width: 250px;
}


vaadin-text-field.bordered::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}

.full-size-canvas canvas {
    width: 100%;
    height: 100%;
    display: block;
}

gltf-viewer::part(canvas) {
    width: 100%;
    height: 100%;
    display: block;
}