@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.back-to-users{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #162967;
    margin-bottom: -10px;
}

.sub-titles{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    text-transform: none !important;
}

.users-main-layout{
    width: 100% !important;
}

.users-save{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #162967 !important;
    color: white !important;
    margin-top: 15px;
    margin-left: auto;
    margin-left: 0px;
}

.users-cancel{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FF1400;
    background-color: #EFEFEF;
    margin-top: 15px;
    margin-left: auto;
}

.users-delete{
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     color: white !important;
     background-color: #FF1400;
}

.user-password{
    margin-bottom: 10px;
}

.user-form-layout{
    width: fit-content !important;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}


vaadin-text-field::part(label), vaadin-combo-box::part(label), vaadin-email-field::part(label),
vaadin-integer-field::part(label), vaadin-password-field::part(label), vaadin-checkbox-group::part(label){
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     font-weight: 200;
     color: #162967 !important;
}

vaadin-text-field::part(input-field), vaadin-combo-box::part(input-field), vaadin-email-field::part(input-field),
vaadin-integer-field::part(input-field), vaadin-password-field::part(input-field){
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   font-weight: 200;
   border: solid 0.5px #162967 !important;
   background-color: white;
   height: 35px !important;
}

vaadin-checkbox::part(checkbox){
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   font-weight: 200;
   border: solid 0.5px #162967 !important;
   background-color: white;
   text-align: center;
}




