@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.search-users{
    font-family: 'Open Sans', sans-serif;
    margin-top: 35px;
    font-weight: 500;
    font-size: 14px;
}

.add-users{
     font-family: 'Open Sans', sans-serif;
     margin-top: 35px;
     background-color: #34A853;
     color: white;
     font-weight: 500;
     font-size: 14px;
}

.new-user-roles{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.new-user-roles::part(input-field){
    border: solid 0.5px #BEBAD7;
    border-radius:5px;
}

.search-users::part(input-field){
    border: solid 0.5px #BEBAD7;
    border-radius:5px;
}

.grid::part(header-cell){
    font-family: 'Open Sans',  sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2F2F2F;
}

.grid::part(body-cell){
    font-family: 'Open Sans',  sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #6B6B6B;
    line-height: normal;
    font-style: normal;
}

.grid::part(row):hover > ::part(body-cell){
    font-family: 'Open Sans',  sans-serif;
    font-weight: 200;
    font-size: 14px;
    background-color:#A198E2;
    color: #6B6B6B;
}